<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>magiCode Compete</title>

    <link href="../static/Favicon.png" rel="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,500" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200&display=swap" rel="stylesheet">

    <style>
        body {
            background-color: purple;
            background-image: linear-gradient(to right, rgb(250,23,149), #3C80F1)

        }
    </style>

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="#" style="color: whitesmoke;font-size: 24px;">magiCode</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span
                                style="color: white;font-weight: 200;font-size: 20px;font-family: Times New Roman, Times, serif;"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span
                                style="color: white;font-weight: 200;font-size: 20px;font-family: Times New Roman, Times, serif;"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="http://127.0.0.1:5000/practice"><span
                                style="color: white;font-weight: 200;font-size: 20px;font-family: Times New Roman, Times, serif;">Practice</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span
                                style="color: white;font-weight: 200;font-size: 20px;font-family: Times New Roman, Times, serif;"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.hackerrank.com/magicode-challenges"><span
                                style="color: white;font-weight: 200;font-size: 20px;font-family: Times New Roman, Times, serif;">Compete</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span
                                style="color: white;font-weight: 200;font-size: 20px;font-family: Times New Roman, Times, serif;"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/shop"><span
                                style="color: white;font-weight: 200;font-size: 20px;font-family: Times New Roman, Times, serif;">Redeem
                                Hackos</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="sec1">
        <div class="container" align="center" style="box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);margin-top: 5vh;">
            <br>
            <div><br>
                <img src="../static/magiCode.png" height="250px" width="250px" align="center"
                    style="box-shadow: 1px 2px 10px black;">
            </div>
            <br>
            <h2 style="color: white;font-family: 'Roboto', sans-serif;text-decoration: underline;">Learn How To Use
                magiCode
            </h2>
            <br>
            <p style="color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: 500; text-align:left">1) Choose
                whether you want to Practice/ Compete/ Redeem Hackos (Hackerrank points) from the menu.<br><span
                align="left">&nbsp;&nbsp;&nbsp;-If you
                    choose to Practice a new language, click on
                    the microphone button at the
                    bottom of the white box.<br>&nbsp;&nbsp;&nbsp;-Choose a language you need help with.<br>&nbsp;&nbsp;&nbsp;-Ask magiCode what you
                    need
                    generally like 'i need an if condition' , 'perform addition for me' (syntaxes not required).<br>&nbsp;&nbsp;&nbsp;-
                    Copy
                    the code from the white
                    box into the input side of the compiler (left).<br>&nbsp;&nbsp;&nbsp;-Run it and see the output on the right side of
                    the
                    compiler.</span><br><br>2) You can compete to score points in our Hackerrank contest.<br><br>3) You
                can redeem
                earned points to buy yourself something you like in the redeem section.
            </p><br><br>
        </div>
            </div>
    </section>
</body>

</html>